* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom,  darkred, rgb(255,40,40));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
}

.titulo{
    font-size: 100px;
    font-family: Mirza;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    

    color: #FBE400;
      text-shadow: 
               -3px -3px 3px #000, 
               -3px 3px 3px #000,                    
               3px -3px 3px #000,                  
               3px 0px 0px #000;
}

.escolherTema{
    background-color: #FBE400;
    border: none;
    color: black;
    padding: 4px;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid #000000;
    border-radius: 8px;
    outline-style: none;
}

.botao {
    background-color: #FBE400;
    border: none;
    color: black;
    padding: 4px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid #000000;
    border-radius: 12px;
  }

  #Botoes{
      width: 50vw;
      height: 20vh;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
  }
